@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@if (Edit.Enabled) {
  <div class="alert alert-info d-flex align-items-center">
    <strong>Admin</strong>
    <button type="button" class="btn btn-secondary ml-2" onclick="$2sxc.cms.run(this, 'contentitems', { contentType: 'Job' })">@Resources.BtnJobs</button>
    <button type="button" class="btn btn-secondary ml-2" onclick="$2sxc.cms.run(this, 'contentitems', { contentType: 'Category' })">@Resources.BtnCategories</button>
    <button type="button" class="btn btn-primary ml-2" onclick="$2sxc.cms.run(this, 'new', { contentType: 'Job', entityId: 0 })">@Resources.BtnNewJob</button>
  </div>
}